<header class="navbar navbar-inverse normal" role="banner">
  <div class="container">
    <div class="navbar-header">
      <a href="{{site.github.url}}" class="navbar-brand">
        <img src="/assets/img/logo.png">
      </a>
    </div>
    <nav class="" role="navigation">
      <ul class="nav navbar-nav nav-links">
        <li>
          <a class="quickstart nav-link" href="{{site.github.url}}/quickstart">Quickstart</a>
        </li>
        <li>
          <a class="guides nav-link" href="{{site.github.url}}/guides">Guides</a>
        </li>
        <li>
          <a class="tutorial nav-link" href="{{site.github.url}}/tutorial">Tutorial</a>
        </li>
        <li>
          <a class="spraypaint nav-link" href="{{site.github.url}}/js">Spraypaint</a>
        </li>
      </ul>
      <ul class="nav gh navbar-nav navbar-right visible-lg visible-md">
        <li>
          <span class="star">⭐</span>
          <a href="https://github.com/graphiti-api/graphiti">
            <img style="margin-right: 65px;margin-top: -20px" src="/assets/img/gh.png">
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
