---
layout: default
---

<div style="text-align:center" class="container">
  <div class="holder">
    <a href="/guides">
      <img class="logo" src="/assets/img/logo-500.png" />
      <h1>Stylish Graph APIs</h1>
    </a>

    <iframe style="margin-top: 50px; margin-bottom: 50px; margin-left: -30px;" width="560" height="315" src="https://www.youtube.com/embed/_QqXjZDzTf4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <p style="color:white;font-size:22px">
      RESTful APIs for a GraphQL era.

      <a href="https://www.graphiti.dev/guides/why">But Why?</a>
    </p>
  </div>
</div>
